# --- CONFIGURACIÓN PRODUCCIÓN ---
NODE_ENV=production

# Base de datos (Real)
POSTGRES_DB=psicoaissist_prod_db
POSTGRES_USER=psico_prod
POSTGRES_PASSWORD=
DATABASE_URL=postgres://psico_prod:${POSTGRES_PASSWORD}@postgres:5432/psicoaissist_prod_db

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# Seguridad Backend
JWT_SECRET=
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d
ENCRYPTION_KEY="" # 32 chars exactos

# Servicios (Reales)
STRIPE_SECRET_KEY=sk_live_... # MODO LIVE PROD
STRIPE_WEBHOOK_SECRET=
STRIPE_CURRENCY=eur

# SMTP
SMTP_HOST=mail.psicoaissist.com
SMTP_PORT=587
SMTP_USER=no-reply@psicoaissist.com
SMTP_PASS=
SMTP_FROM="PsicoAIssist <no-reply@psicoaissist.com>"

# APIs IA
GOOGLE_API_KEY=
OPENAI_API_KEY=
GEMINI_API_KEY=

# URLs y Google OAuth
NEXT_PUBLIC_API_URL=https://psicoaissist.com/api/v1
NEXT_PUBLIC_SOCKET_URL=https://psicoaissist.com
FRONTEND_URL=https://psicoaissist.com
API_URL=http://backend:3001/api/v1

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://psicoaissist.com/dashboard/settings

# WebRTC
TURN_SECRET=
TURN_REALM=psicoaissist.com
EXTERNAL_IP=X.X.X.X # IP publica del servidor prod
